#user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
}
.main-container{
    background-color: lightgrey;
    padding-top: 2em;
    gap: 15px;
}
.post-something{
    border: 1px solid #dee0e1;
    margin-left: auto;
    margin-right: auto;
    width: 675px;
    padding: 15px;
    gap: 10px;
    background-color: white;
    border-radius: 3px;
}
.user-ser{
    gap: 10px;
}
#ask-share{
    height: 50px;
    width: 100%;
    border-radius: 50px;
    border: 1px solid #dee0e1;
    padding-left: 15px;
    background-color: #ccced0;
}
#ask-share:focus{
    outline: none;
}
.querry-btn{
    justify-content: space-around;
}
.querry{
    align-items: center;
    cursor: pointer;
}
.feeds{
    
    gap: 20px;
}
.image-btn{
    cursor: pointer;
}
.post-img{
    width: 100%;
    height: 400px;
    border-radius: 5px;
    border: none;
}
.box{
    border: 1px solid #dee0e1;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 15px;
    gap: 10px;
    background-color: white;
    border-radius: 3px;
    height: auto;
}
.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.readmore{
    justify-content: end;
}
.post-footer{
    gap: 20px;
}
.arrow{
    gap: 10px;
    align-items: center;
}
.chat-share{
    gap: 10px;
}
.arrow-btn{
    cursor: pointer;
}
.read-more{
    height: 2em;
    padding: 5px;
    border: none;
    background-color: white;
    color: blue;
}
.upper-portion{
    justify-content: space-between;
    align-items: center;
}
.dropdown-menu{
    gap: 5px;
}
ul{
    list-style: none;
}